.mainChat
  .mainChat__header
    .mainChat__header__left
      .mainChat__header__left__name
        Test
      .mainChat__header__left__message
        Member:masa
    = link_to "#", class: "mainChat__header__right-btn" do
      Edit

      

  .mainChat__content
    .mainChat__content__message
      .mainChat__content__message__id
        .mainChat__content__message__id__name
          aa
        .mainChat__content__message__id__date
          2019/11111
      .mainChat__content__message__messages
        おはよう！

    .mainChat__content__message
      .mainChat__content__message__id
        .mainChat__content__message__id__name
          aa
        .mainChat__content__message__id__date
          2019/11111
      .mainChat__content__message__messages
        おはよう！

    .mainChat__content__message
      .mainChat__content__message__id
        .mainChat__content__message__id__name
          aa
        .mainChat__content__message__id__date
          2019/11111
      .mainChat__content__message__messages
        おはよう！

  .mainChat__footer
    .mainChat__footer__foom
      .mainChat__footer__foom__left
        %input.mainChat__footer__foom__left__text{:placeholder => "type a message", }
        %label{class:"mainChat__footer__foom__left__image"}
          = icon('fa', 'image', class: "mainChat__footer__foom__left__image__images")
          %input{type: "file", class: "mainChat__footer__foom__left__image__btn"}
      = link_to "#", class: "mainChat__footer__foom__right" do
        Send




    